body {
  margin: 0;
}
.red {
  color: red;
  color: green;
  color: orange;
  color: orange;
  color: orange;
  color: dodgerblue;
  color: orange;
  color: orange;
  color: orange;
  background: no-repeat center;
  opacity: 0;
}
